{% extends 'layout.html' %}

{% block head %}
	<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
{% endblock %}

{% block content %}
	<style type="text/css">
	.clearfix{
		margin-bottom: 20px;
	}
	textarea{
		margin-bottom: 5px;
	}
	</style>
	
	<div class="clearfix">
		<div class="col-xs-12 col-sm-6">
			<h1 >Bienvenido {{user.username}}</h1>
			<a href="/log-out"><button class="btn btn-danger ">Log Out</button></a>
		</div>
	</div>
	<div class="clearfix">
		<div class="col-xs-12 col-sm-6">
			<form method="POST" action="/app/create-post">
				<textarea class="form-control" rows="3" name="content"></textarea>
				<button type="submit" class="btn btn-primary pull-right">Post</button>
			</form>
		</div>
	</div>
	<div class="clearfix">
		<div class="col-xs-12 col-mb-12 col-sm-6">
			<ul id="posts" class="media-list list-group">
			{% for post in posts %}
			<li class="media list-group-item">
				<a href="https://twitter.com/{{post.user.username}}" class="pull-left thumbnail">
					<img class="media-object" src="{{post.user.twitter._json.profile_image_url}}" alt="Avatar">
				</a>
				<div class="media-body">
	      			<h4 class="media-heading"><a target="_blank" href="https://twitter.com/{{post.user.username}}">@{{post.user.username}}</a></h4>
	      			<p>{{post.content}}</p>
	    		</div>
				
				
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
